<!DOCTYPE html>
<html>
  <head>
    <title>System</title>
    <%= csrf_meta_tags %>
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </head>

  <body>

  <% if current_user %>
    <%= link_to 'Home', '/' %> | Signed in as <%= current_user.firstname %> <%= current_user.surname %> | <%= link_to "Logout", '/logout' %>
  <% else %>
    <%= link_to 'Home', '/' %> | link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>

    <%= yield %>
  
  </body>
</html>
